[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock
skip-networking = 0

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid
log-error = /var/log/mysql/error.log

[mysql]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4

!includedir /etc/mysql/conf.d/

# Account creation statements
CREATE USER 'root'@'localhost' IDENTIFIED BY 'rootpassword';
GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' WITH GRANT OPTION;

CREATE USER 'user'@'localhost' IDENTIFIED BY 'userpassword';
GRANT SELECT, INSERT, UPDATE, DELETE ON your_database_name.* TO 'user'@'localhost';
